div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}